*{
padding: 0%;
margin: 0%;
}

@font-face {
    font-family: titfont;
    src: url(sf-wonder-comic-blotch-italic.woff2);
}


body{
    background: linear-gradient(135deg, #E8C7C8,#E6E6FA,#FADADD,#D8BFD8);
    background-size: 400% 400%;
    min-height: 100vh;
    animation: bg 15s ease-in-out infinite;
}

@keyframes bg {
    0%{
        background-position: 0% 50%;
    }
     50%{
        background-position: 100% 50%;
    }
     100%{
        background-position: 0% 50%;
    }
}

h1{
font-family: titfont,sans-serif;
width: 100vw;
text-align: center;
font-size: 37px;
color: black;
text-shadow: 0 0 10px aliceblue;
margin-top: 40px;

}

.boxpaper{

    display: flex;
    width: 100vw;
    justify-content: center;
}

.paper{
    width: 90vw;
    max-width: 580px;
    height: 90vh;
    
    margin-top: 1vh;
}

.boxwish{
position:absolute;
top: 20vh;
width: 80vw;
left: 10vw;
display: flex;
flex-direction: column;
align-items: center;
align-content:center;


}

.wish{
width: 100%;
text-align: center;
font-size: 30px;
font-family: titfont,sans-serif;

}

.imgWish{
width: 60vw;
max-width: 350px;
/*max-height: 300px;*/
margin-top: 5vh;
}

.flake{
    position: absolute;
    top:30px;
    color: aliceblue;
    opacity: 1;
    animation: snowfall linear forwards;
   

}

@keyframes snowfall {
    to{
        transform: translateY(100vh);
        opacity: 0;
    }
}


@media (max-width:500px){
    .paper{
        max-height: 600px;
    }
}
