*{
padding: 0%;
margin: 0%;
}
body{
    background: linear-gradient(135deg, #21830f,#fa5f5f,#f5faa8,#d286f6);
    background-size: 400% 400%;
    min-height: 100vh;
    animation: bg 15s ease-in-out infinite;
}

@keyframes bg {
    0%{
        background-position: 0% 50%;
    }
     50%{
        background-position: 100% 50%;
    }
     100%{
        background-position: 0% 50%;
    }
}