*{
padding: 0%;
margin: 0%;
}

@font-face {
    font-family: titfont;
    src: url(sf-wonder-comic-blotch-italic.woff2);
}


body{
    background: linear-gradient(135deg, #E8C7C8,#E6E6FA,#FADADD,#D8BFD8);
    background-size: 400% 400%;
    min-height: 100vh;
    animation: bg 15s ease-in-out infinite;
}

@keyframes bg {
    0%{
        background-position: 0% 50%;
    }
     50%{
        background-position: 100% 50%;
    }
     100%{
        background-position: 0% 50%;
    }
}

h1{
font-family: titfont,sans-serif;
width: 100vw;
text-align: center;
font-size: 37px;
color: black;
text-shadow: 0 0 10px aliceblue;

}

.paper{
    width: 90vw;
    max-width: 500px;
    margin-left: 5vw;
    margin-top: 1vh;
}